packages
bin
obj
.vs
.vs/ArmyAPI
最小的WebAPI/ArmyAPI/Properties/PublishProfiles/FolderProfile.pubxml
最小的WebAPI/ArmyAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
/最小的WebAPI/ArmyAPI/.vs/ArmyAPI/DesignTimeBuild/.dtbcache.v2
/最小的WebAPI/ArmyAPI/.vs/ArmyAPI/v17/.futdcache.v2
/最小的WebAPI/ArmyAPI/.vs/ArmyAPI/v17/.suo
/最小的WebAPI/ArmyAPI/.vs/ProjectEvaluation/armyapi.metadata.v7.bin
/最小的WebAPI/ArmyAPI/.vs/ProjectEvaluation/armyapi.projects.v7.bin
