packages
bin
obj
.vs
.vs/ArmyAPI
最小的WebAPI/ArmyAPI/Properties/PublishProfiles/FolderProfile.pubxml
最小的WebAPI/ArmyAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
/最小的WebAPI/ArmyAPI/.vs/ArmyAPI/DesignTimeBuild/.dtbcache.v2
/最小的WebAPI/ArmyAPI/.vs/ArmyAPI/v17/.futdcache.v2
/最小的WebAPI/ArmyAPI/.vs/ArmyAPI/v17/.suo
/最小的WebAPI/ArmyAPI/.vs/ProjectEvaluation/armyapi.metadata.v7.bin
/最小的WebAPI/ArmyAPI/.vs/ProjectEvaluation/armyapi.projects.v7.bin
/最小的WebAPI/ArmyAPI/.vs/ArmyAPI/config/applicationhost.config
/MVC/ArmyAPI/.vs
/MVC/ArmyAPI/Log
/MVC/ArmyAPI/Properties
※工作管制表/Sch01 日行程表 0825.docx
※工作管制表/工管表sample.csv
※工作管制表/工管表sample1.csv
※工作管制表/行程表-作業用.xlsm
Schedule1121201.rar
